@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

html {
  font-size: 20px;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Teko', sans-serif;
  background-color: #f3f3f3;
}
